*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    background-color: blanchedalmond;
    height: 100vh;
    width: 50vw;
    margin-top: 100px;
    margin: auto;
    
}
.container .heading{
    text-align: center;
    color: orange;
    background-color: aqua;
    font-size: 2vw;
    text-shadow: 3px 3px 8px white;
}

.container .todo_div{
    position: relative;
    margin: 7% auto;
    
}

.container .todo_div form{
    text-align: center;
    /* background-color: burlywood; */
    height: 100%;
    width: 100%;

}

.container .todo_div form input{
    font-size: 1.5vw;
    border: none;
    width: 40vw;
    height: 3em;
    padding-left: 5%;
    border-radius: 30px;
    outline: none;
    font-family: 'Poppins', sans-serif;

}
.container .todo_div form button{
    padding: none;
    height: 2.5em;
    width: 2.5em;
    font-size: 1.7vw;
    border-radius: 50%;
    border: none;
    background-color: white;
    box-shadow: 2px 2px 5px gray;
}

.container .todo_div #msg{
    margin-left: 10%;
    font-size: 1.5vw;
    color: red;
}

.container .todo_div form button:hover{
    background-color: rgb(167, 167, 167);
}

.container .todo_div #list{
    /* background-color: green; */
    font-size: 1.6vw;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-left: 4em;
}

.container .todo_div #list li{
    margin : 7px 0px;
}

.container .todo_div #list button{
    background-color: white;
    font-size: 1.4vw;
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    border: none;
    box-shadow: 2px 3px 5px rgb(114, 150, 150);
}
.container .todo_div #list #del{
    color: red;
}
.container .todo_div #list #del:hover{
    background-color: red;
    color: white;
}
.container .todo_div #list #edit{
    color: maroon;
}
.container .todo_div #list #edit:hover{
    color: white;
    background-color: maroon;
}
.container .todo_div #list button:hover{
    background-color: darkgrey;
}

@media screen and (max-width:676px){
    .container .heading{
        font-size: 4vw;
        background-color: aqua;
    }
    .container{
        width: 100%;
        height: 100vh;
    }
    .container .todo_div{
        margin-top: 10%;
    }
    .container .todo_div form input{
        font-size: 4vw;
        height: 2em;
        width: 69vw;
    }  
    .container .todo_div form button{
        height: 2em;
        width: 2em;
        font-size: 4vw;
    }
    .container .todo_div #msg{
       margin-top: 5px;
        margin-left: 15%;
        font-size: 2.7vw;
        color: red;
    } 
    .container .todo_div #list{

        font-size: 4vw;
        margin-top: 23px;
        padding-bottom: 20px;
        margin-left: 4em;
    }
    .container .todo_div #list button{
        font-size: 4vw;
        height: 1.8em;
        width: 1.8em;
    }
    
}
